* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', 'sans-serif';
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.content .navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: inline-block;
    padding: 0 42px;
}